img {
width: 20%;
}

/* Header */

header {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  padding: 16px 16px 0px 16px;
  gap: 0;
}

#header-text{
  font-family: var(--p-font);
  font-size: 17px;
  font-weight: 500;
  grid-column: 2;
  text-align: center;
}

header button {
  background-color: transparent;
  color: #1e1e1e;
  grid-column: 1;
  margin-bottom: 0;
  text-align: left;

}

/* Main Section */
.park-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.detail {
  background-color: var(--back-color3);
  width: 75%;
  padding: 17px;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.detail-name {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.chevron {
  font-size: 15px;
}

.park-contact-container {
  text-decoration: underline;
  word-spacing: 10px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.contact-info {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}